flows_309dd215bf6f.json
[
    {
        "id": "47d1a9af70ce48a0",
        "type": "tab",
        "label": "Identify Nodes",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ec27460336e8c1b6",
        "type": "tab",
        "label": "ot/#",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f7341cfd90573bb6",
        "type": "tab",
        "label": "ot/shreya/#",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8cd7d7e71de01dfd",
        "type": "mqtt-broker",
        "name": "MQTT-SN",
        "broker": "mqtt.dynamicdevices.co.uk",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "656e9484581e841e",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "balena",
        "name": "influxdb",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "729d308438ce5d5f",
        "type": "mqtt-broker",
        "z": "47d1a9af70ce48a0",
        "name": "MQTT-SN_Identify",
        "broker": "mqtt.dynamicdevices.co.uk",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "10",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0ad7bc3e448c99c2",
        "type": "switch",
        "z": "47d1a9af70ce48a0",
        "name": "IDs",
        "property": "payload.ID",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "f4ce365ac63b58fe",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "f4ce36e255930a7f",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "f4ce367d656cb6fc",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "f4ce361832e86d55",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "f4ce36dce4f942b0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "f4ce36e430214de4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "f4ce36801909bf53",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "f4ce36a50a5624e3",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 8,
        "x": 370,
        "y": 200,
        "wires": [
            [
                "1cd6987dd70a0430"
            ],
            [
                "5a826171ef7df540"
            ],
            [
                "5ce393215244b597"
            ],
            [
                "106e87ea8032306a"
            ],
            [
                "18183594dda257b9"
            ],
            [
                "9de8fa74c9c5a904"
            ],
            [
                "4df79a7bb1eac718"
            ],
            [
                "58d75612fce18682"
            ]
        ]
    },
    {
        "id": "a2a97111e1b3f94c",
        "type": "mqtt in",
        "z": "47d1a9af70ce48a0",
        "name": "ot/shreya/#",
        "topic": "ot/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8cd7d7e71de01dfd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 200,
        "wires": [
            [
                "0ad7bc3e448c99c2"
            ]
        ]
    },
    {
        "id": "8a13b2b5e82674c7",
        "type": "debug",
        "z": "47d1a9af70ce48a0",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 40,
        "wires": []
    },
    {
        "id": "b2ce14d6889eec01",
        "type": "inject",
        "z": "47d1a9af70ce48a0",
        "name": "f4ce365ac63b58fe",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "identify",
        "payloadType": "str",
        "x": 410,
        "y": 400,
        "wires": [
            [
                "2fcffa3dfc53d8b6"
            ]
        ]
    },
    {
        "id": "2fcffa3dfc53d8b6",
        "type": "mqtt out",
        "z": "47d1a9af70ce48a0",
        "name": "identify f4ce365ac63b58fe",
        "topic": "ot/shreya/f4ce365ac63b58fe/cmnd",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "729d308438ce5d5f",
        "x": 710,
        "y": 400,
        "wires": []
    },
    {
        "id": "1cd6987dd70a0430",
        "type": "change",
        "z": "47d1a9af70ce48a0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.ID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 40,
        "wires": [
            [
                "8a13b2b5e82674c7"
            ]
        ]
    },
    {
        "id": "6ee4c24aeca47703",
        "type": "debug",
        "z": "47d1a9af70ce48a0",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 80,
        "wires": []
    },
    {
        "id": "5a826171ef7df540",
        "type": "change",
        "z": "47d1a9af70ce48a0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.ID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 80,
        "wires": [
            [
                "6ee4c24aeca47703"
            ]
        ]
    },
    {
        "id": "38e3d9cef382f12e",
        "type": "debug",
        "z": "47d1a9af70ce48a0",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 120,
        "wires": []
    },
    {
        "id": "5ce393215244b597",
        "type": "change",
        "z": "47d1a9af70ce48a0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.ID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 120,
        "wires": [
            [
                "38e3d9cef382f12e"
            ]
        ]
    },
    {
        "id": "a33809eaac789788",
        "type": "inject",
        "z": "47d1a9af70ce48a0",
        "name": "f4ce367d656cb6fc",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "identify",
        "payloadType": "str",
        "x": 410,
        "y": 520,
        "wires": [
            [
                "2d9ce4563cae0426"
            ]
        ]
    },
    {
        "id": "2d9ce4563cae0426",
        "type": "mqtt out",
        "z": "47d1a9af70ce48a0",
        "name": "identify f4ce367d656cb6fc",
        "topic": "ot/shreya/f4ce367d656cb6fc/cmnd",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "729d308438ce5d5f",
        "x": 710,
        "y": 520,
        "wires": []
    },
    {
        "id": "9a909f702ddf6fba",
        "type": "inject",
        "z": "47d1a9af70ce48a0",
        "name": "f4ce36e255930a7f",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "identify",
        "payloadType": "str",
        "x": 410,
        "y": 460,
        "wires": [
            [
                "30400bf3637b6137"
            ]
        ]
    },
    {
        "id": "30400bf3637b6137",
        "type": "mqtt out",
        "z": "47d1a9af70ce48a0",
        "name": "identify f4ce36e255930a7f",
        "topic": "ot/shreya/f4ce36e255930a7f/cmnd",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "729d308438ce5d5f",
        "x": 720,
        "y": 460,
        "wires": []
    },
    {
        "id": "4619a3eb82bcfdf5",
        "type": "debug",
        "z": "47d1a9af70ce48a0",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 160,
        "wires": []
    },
    {
        "id": "106e87ea8032306a",
        "type": "change",
        "z": "47d1a9af70ce48a0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.ID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 160,
        "wires": [
            [
                "4619a3eb82bcfdf5"
            ]
        ]
    },
    {
        "id": "d83294aa202c57c4",
        "type": "debug",
        "z": "47d1a9af70ce48a0",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 200,
        "wires": []
    },
    {
        "id": "18183594dda257b9",
        "type": "change",
        "z": "47d1a9af70ce48a0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.ID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 200,
        "wires": [
            [
                "d83294aa202c57c4"
            ]
        ]
    },
    {
        "id": "17007c4b776bb55e",
        "type": "debug",
        "z": "47d1a9af70ce48a0",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 240,
        "wires": []
    },
    {
        "id": "9de8fa74c9c5a904",
        "type": "change",
        "z": "47d1a9af70ce48a0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.ID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 240,
        "wires": [
            [
                "17007c4b776bb55e"
            ]
        ]
    },
    {
        "id": "b761161f0af3ecd8",
        "type": "debug",
        "z": "47d1a9af70ce48a0",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 280,
        "wires": []
    },
    {
        "id": "4df79a7bb1eac718",
        "type": "change",
        "z": "47d1a9af70ce48a0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.ID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 280,
        "wires": [
            [
                "b761161f0af3ecd8"
            ]
        ]
    },
    {
        "id": "c910c8ac1581311f",
        "type": "debug",
        "z": "47d1a9af70ce48a0",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 320,
        "wires": []
    },
    {
        "id": "58d75612fce18682",
        "type": "change",
        "z": "47d1a9af70ce48a0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.ID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 320,
        "wires": [
            [
                "c910c8ac1581311f"
            ]
        ]
    },
    {
        "id": "3b2885672ffee54f",
        "type": "inject",
        "z": "47d1a9af70ce48a0",
        "name": "f4ce361832e86d55",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "identify",
        "payloadType": "str",
        "x": 410,
        "y": 580,
        "wires": [
            [
                "7d01fc440a5d42bc"
            ]
        ]
    },
    {
        "id": "7d01fc440a5d42bc",
        "type": "mqtt out",
        "z": "47d1a9af70ce48a0",
        "name": "identify f4ce361832e86d55",
        "topic": "ot/shreya/f4ce361832e86d55/cmnd",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "729d308438ce5d5f",
        "x": 720,
        "y": 580,
        "wires": []
    },
    {
        "id": "daaa6b3455ba3f99",
        "type": "inject",
        "z": "47d1a9af70ce48a0",
        "name": "f4ce36e430214de4",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "identify",
        "payloadType": "str",
        "x": 410,
        "y": 700,
        "wires": [
            [
                "c2f68f03fe4698f8"
            ]
        ]
    },
    {
        "id": "c2f68f03fe4698f8",
        "type": "mqtt out",
        "z": "47d1a9af70ce48a0",
        "name": "identify f4ce36e430214de4",
        "topic": "ot/shreya/f4ce36e430214de4/cmnd",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "729d308438ce5d5f",
        "x": 720,
        "y": 700,
        "wires": []
    },
    {
        "id": "4228b209d0275511",
        "type": "inject",
        "z": "47d1a9af70ce48a0",
        "name": "f4ce36dce4f942b0",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "identify",
        "payloadType": "str",
        "x": 410,
        "y": 640,
        "wires": [
            [
                "9415dd8c76e61f01"
            ]
        ]
    },
    {
        "id": "9415dd8c76e61f01",
        "type": "mqtt out",
        "z": "47d1a9af70ce48a0",
        "name": "identify f4ce36dce4f942b0",
        "topic": "ot/shreya/f4ce36dce4f942b0/cmnd",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "729d308438ce5d5f",
        "x": 710,
        "y": 640,
        "wires": []
    },
    {
        "id": "85fcd55dba83cc6b",
        "type": "inject",
        "z": "47d1a9af70ce48a0",
        "name": "f4ce36801909bf53",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "identify",
        "payloadType": "str",
        "x": 410,
        "y": 760,
        "wires": [
            [
                "0f67d38d8665b739"
            ]
        ]
    },
    {
        "id": "0f67d38d8665b739",
        "type": "mqtt out",
        "z": "47d1a9af70ce48a0",
        "name": "identify f4ce36801909bf53",
        "topic": "ot/shreya/f4ce36801909bf53/cmnd",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "729d308438ce5d5f",
        "x": 720,
        "y": 760,
        "wires": []
    },
    {
        "id": "4b1dc1fc79dd2c68",
        "type": "inject",
        "z": "47d1a9af70ce48a0",
        "name": "f4ce36a50a5624e3",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "identify",
        "payloadType": "str",
        "x": 410,
        "y": 820,
        "wires": [
            [
                "fdfb60717b7a438b"
            ]
        ]
    },
    {
        "id": "fdfb60717b7a438b",
        "type": "mqtt out",
        "z": "47d1a9af70ce48a0",
        "name": "identify f4ce36a50a5624e3",
        "topic": "ot/shreya/f4ce36a50a5624e3/cmnd",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "729d308438ce5d5f",
        "x": 720,
        "y": 820,
        "wires": []
    },
    {
        "id": "81e40e2ae5303a73",
        "type": "mqtt in",
        "z": "ec27460336e8c1b6",
        "name": "ot/#",
        "topic": "ot/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8cd7d7e71de01dfd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 370,
        "y": 200,
        "wires": [
            [
                "dcf84e3db390e8b5",
                "3702a576e8434d99"
            ]
        ]
    },
    {
        "id": "dcf84e3db390e8b5",
        "type": "debug",
        "z": "ec27460336e8c1b6",
        "name": "ot/data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 200,
        "wires": []
    },
    {
        "id": "3702a576e8434d99",
        "type": "influxdb out",
        "z": "ec27460336e8c1b6",
        "influxdb": "656e9484581e841e",
        "name": "influxdb",
        "measurement": "ot-data",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 640,
        "y": 280,
        "wires": []
    },
    {
        "id": "2eca33668cc91f8f",
        "type": "mqtt in",
        "z": "f7341cfd90573bb6",
        "name": "ot/shreya/#",
        "topic": "ot/shreya/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8cd7d7e71de01dfd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 160,
        "wires": [
            [
                "13fd690e8164d123",
                "3c82fbcc9047a861"
            ]
        ]
    },
    {
        "id": "13fd690e8164d123",
        "type": "debug",
        "z": "f7341cfd90573bb6",
        "name": "ot/shreya/data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 160,
        "wires": []
    },
    {
        "id": "3c82fbcc9047a861",
        "type": "influxdb out",
        "z": "f7341cfd90573bb6",
        "influxdb": "656e9484581e841e",
        "name": "influxdb",
        "measurement": "ot-shreya-data",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 540,
        "y": 240,
        "wires": []
    }
]